<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../../../public/style/about/aboutUs.css">
    <title>About Us</title>
</head>
<body>
    <a href="/category"><img class="homeButn" src="../../../public/style/home.png"></a>
    <div class="container">
        <div class="card" style="--i:-2" id="card1">
            <div class="content" style="--j:0">
                <h2>Batool Al-Omari</h2>
                <img src="https://ca.slack-edge.com/TNGRRLUMA-U018VEJLH1D-54d922d74322-512" alt="Batool" width="100%">
                <p>Team Leader & Software Engineer</p>
            </div>
        </div>

        <div class="card" style="--i:-1" id="card2">
            <div class="content" style="--j:1">
                <h2>Ahmad Walid</h2>
                <img src="https://ca.slack-edge.com/TNGRRLUMA-U0193DSSLUW-0508d9903d13-512" alt="Ahmad" width="100%">
                <p>Civil Engineer & Software Developer</p>
            </div>
        </div>

        <div class="card" style="--i:0" id="card3">
            <div class="content" style="--j:2">
                <h2>Abdallah Moazen</h2>
                <img src="https://ca.slack-edge.com/TNGRRLUMA-U01A0296K32-12f506fc76d3-512" alt="Abdallah" width="100%">
                <p>Web Developer</p>
            </div>
        </div>

        <div class="card" style="--i:1" id="card4">
            <div class="content" style="--j:3">
                <h2>Tamara Hussien</h2>
                <img src="https://ca.slack-edge.com/TNGRRLUMA-U018VEJE12B-6f6a52f13295-512" alt="Tamara" width="100%">
                <p>Web Developer</p>
            </div>
        </div>
    </div>
</body>
</html>