<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="../../../public/style/categories.css">
</head>
<body>
    <video autoplay muted loop id="myVideo">
        <source src="https://assets.mixkit.co/videos/preview/mixkit-sea-waves-hitting-the-sandy-seashore-1953-large.mp4" type="video/mp4"></video>
    <!--video autoplay muted loop id="myVideo">
        <source src="https://assets.mixkit.co/videos/preview/mixkit-stars-and-galaxies-in-space-through-apparent-auroras-30052-large.mp4" type="video/mp4">
    </video-->
    <div id="drag-container">
        <div id="spin-container">
         
          <h1>JOURNEY Apps</h1>
          <a href="/gallery"><img src="https://images.all-free-download.com/images/graphiclarge/android_gallery_logo_6830698.jpg" alt="" onmousedown="touch.play()" >  </a>

          <a href="music"><img src="https://www.seekpng.com/png/detail/1-15810_music-transparent-colorful-colourful-music-notes-png.png" alt="" onmousedown="touch.play()"> </a>

          <a href="/clock"><img src="https://store-images.microsoft.com/image/apps.47449.9007199266251707.2e320d37-928e-4082-889c-1acec6989fca.4d6d95ae-f5fb-4e8b-a132-6b5554dd38d5?mode=scale&q=90&h=200&w=200&background=%23ffffff" alt="" onmousedown="touch.play()"></a>

          <a href="/book"><img src="https://png.pngtree.com/png-vector/20190530/ourmid/pngtree-book-logo-icon-vector-png-image_1127352.jpg" alt="" onmousedown="touch.play()"></a>

          <a href="/inspire"><img src="https://www.inspirebiz.co.uk/wp-content/uploads/2018/09/14068002_1180361095369834_7243916436233550836_o.png" alt="" onmousedown="touch.play()"></a>

          <a href="/about"><img src="https://encrypted-tbn0.gstatic.com/images?q=tbn%3AANd9GcS0-QulVV1HHB7PUbcZbWWM0tYz_fLXyQaXzA&usqp=CAU" alt="" onmousedown="touch.play()"></a>
          
         
    <p>JOURNEY Apps</p>
</div>
<div id="ground"></div>
</div>

<div id="music-container"></div>

<!--script src="home.js"></script-->
<script src="../../../public/js/categories.js"></script>
</body>
</html>