<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
  <link rel="stylesheet" href="../../../public/style/gallery-style/gallerySearch.css">
</head>

<body>
  <a href="/category"><img class="homeButn" src="../../../public/style/home.png"></a>
  <h1>Images Gallery</h1>
  <div id="wrap">
    <form action="/search" autocomplete="on" method="get">
      <input id="search" name="search" type="text" placeholder="What you are looking for ?">
      <input id="search_submit" value="search" type="submit">
    </form>
  </div>
  <br>
  <br>
  


  <div class="container">
    <div id="carousel">


      <figure><img src="http://lorempixel.com/186/116/nature/1" alt=""></figure>
      <figure><img src="http://lorempixel.com/186/116/nature/2" alt=""></figure>
      <figure><img src="http://lorempixel.com/186/116/nature/3" alt=""></figure>
      <figure><img src="http://lorempixel.com/186/116/nature/4" alt=""></figure>
      <figure><img src="http://lorempixel.com/186/116/nature/5" alt=""></figure>
      <figure><img src="http://lorempixel.com/186/116/nature/6" alt=""></figure>
      <figure><img src="http://lorempixel.com/186/116/nature/7" alt=""></figure>
      <figure><img src="http://lorempixel.com/186/116/nature/8" alt=""></figure>
      <figure><img src="http://lorempixel.com/186/116/people/9" alt=""></figure>



    </div>
  </div>

  <!-- <video autoplay muted loop id="myVideo">
    <source src="https://assets.mixkit.co/videos/preview/mixkit-bright-blue-lights-on-top-of-a-building-25847-large.mp4" type="video/mp4">
  </video> -->
  <!--script src="/public/app/home3.js"></script-->
</body>

</html>