<section>
    <div>
        <img src="<%= x.image_url %>">
        <h2>
            <%= x.title %>
        </h2>
        <h4>
            <%= x.author %>
        </h4>
        <p>
            <%= x.descr %>
        </p>
     
    </div>
</section>
