<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://fonts.googleapis.com/css2?family=Roboto&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="../../../../public/style/books-style/search-for-book-style.css">
    <title>Book Not Founds</title>
</head>

<body>
    <header>
    </header>
    <main>
        <div class="container">
            <div id="error">
                <h1>Sorry, This book is not available. <br>
                    Thank you for choosing us. </h1>
                <a id="error" href="/book">Back To Home Page</a>
            </div>
        </div>
    </main>
    <footer>
    </footer>
</body>

</html>