<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link href='https://fonts.googleapis.com/css?family=Open+Sans:400italic,700italic,800italic,400,700,800' rel='stylesheet' type='text/css'>
<link href='https://fonts.googleapis.com/css?family=Raleway:400,700,300,200,100,900' rel='stylesheet' type='text/css'>

<link href='https://fonts.googleapis.com/css?family=Amatic+SC:400,700' rel='stylesheet' type='text/css'>

<link rel="stylesheet" href="../../../public/style/inspire/inspire.css">
</head>


<body>
  <a href="/category"><img class="homeButn" src="../../../public/style/home.png"></a>

<ul id="categories" class="clr">
  <li class="pusher"></li>
	<li>
      <div>
        <!--img src="https://media3.giphy.com/media/3d8mV1sJU0TP8jMDLl/giphy.gif" alt=""/-->
        <img src="https://ca.slack-edge.com/TNGRRLUMA-U011KEQ8X70-461ab59aeb38-512" alt="">
        <h1>Hanaa Maratouq</h1>
        <p>Instructor</p>
    </div>
  </li>
    <li>
      <div>
        <!--img src="https://galatropicalradio.com/wp-content/uploads/2020/07/giphy.gif" alt=""/-->
        <img src="https://ca.slack-edge.com/TNGRRLUMA-UPRCC16QP-53e7e37645fd-512" alt="">
        <h1>Shihab Eshtaiwi</h1>
        <p>Teacher Assistant</p>
    </div>
  </li>
  <li>
      <div>
        <img src="https://ca.slack-edge.com/TNGRRLUMA-USMATJALV-1a43f530dc18-512" alt=""/>
        <h1>Bara'ah Hawari</h1>
        <p>Teacher Assistant</p>
    </div>
  </li>
  <li>
      <div>
        <img src="https://ca.slack-edge.com/TNGRRLUMA-UNRTCCLH1-f489be38c122-512" alt=""/>
        <h1>Samer Allaham</h1>
        <p>Teacher Assistant</p>
    </div>
  </li>
  
</ul>

</body>
</html>